# Environnement Python
.venv/
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Variables sensibles
.env

# Fichiers éditeurs
.~lock.*
*.swp
*.swo
*.md~
.idea/
# Build
dist/
build/
*.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

JOURNAL.md
fichier_injecter/
nextcloud_cache/
mapping/

